div#menu {
	background-color: rgb(50, 50, 50);
  color: white;
  overflow: hidden;
}

div#menu a {
    color: white;
    text-decoration: none;
    padding: 10px 10px;
    display: inline-block;
}

div#menu a:hover {
    background-color: red;
}

#sobre{
  float: right;
}

div#menu .dropdown {
    display: inline-block;
}

div#menu .dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

div#menu .dropdown:hover .dropdown-content {
  display: block;
}

div#menu .dropdown-content a{
  color: #000;
  display: block;
}

div#menu .dropdown-content a:hover{
  background-color: gainsboro;
}

header#topo{
  background-color: green;
}

main#mainpage{
  text-align: center;   
}

img#SejaRaro {
  border-radius: 60%;
  width: 50%;
}

figcaption{
  font-size: 12px
}

select {
  background-color:white;
  width: 100%;
  color: black;
  padding: 10px 10px;
  display: block;
  border-color: gainsboro;
  box-sizing: border-box;
  border-style: solid;
  border-radius: 10px;
}

input[type=text]{
  background-color:white;
  width: 100%;
  color: black;
  padding: 10px 10px;
  display: block;
  border-color: gainsboro;
  box-sizing: border-box;
  border-style: solid;
  border-radius: 10px;
}

input[type=tel]{
  background-color:white;
  width: 100%;
  color: black;
  padding: 10px 10px;
  display: block;
  border-color: gainsboro;
  box-sizing: border-box;
  border-style: solid;
  border-radius: 10px;
}

input[type=email]{
  background-color:white;
  width: 100%;
  color: black;
  padding: 10px 10px;
  display: block;
  border-color: gainsboro;
  box-sizing: border-box;
  border-style: solid;
  border-radius: 10px;
}

textarea{
  background-color:white;
  width: 100%;
  color: black;
  padding: 10px 10px;
  display: block;
  border-color: gainsboro;
  box-sizing: border-box;
  border-style: solid;
  border-radius: 10px;
}

.graybox{
  background-color: whitesmoke;
  padding: 20px; 
}


button {
  background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: block;
  width: 100%;
  border-radius: 10px;
}

.grid-container {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 50% 50%;
  padding: 10px;
}

.grid-item {
  text-align: center;
  grid-row-gap: 0px;
  padding: 0px;
}